.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #f4f4f4;
}

/* 모바일 해상도 화면 정의 */
.mobileView {
    width: 375px;
    height: 667px;
    border: 1px solid black;
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}