.backButton {
    width: 65px;
    height: 30px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(156 163 175);
    left: 780px;
    top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backButton:hover {
    background-color: rgb(107, 114, 128);
}